body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;
  }
  
  /* header-left 컨테이너 스타일 수정 */
  .header-left {
    display: flex; /* 아이콘과 버튼을 한 줄에 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: 40px; /* 페이지 왼쪽 끝에서 여백 추가 */
  }
  
  /* 입점 신청 버튼 왼쪽 아이콘 스타일 */
  .icon {
    color: #434343; /* 입점 신청 버튼과 동일한 색상 */
    font-size: 12px; /* 입점 신청 버튼과 동일한 크기 */
    margin-right: 5px; /* 아이콘과 텍스트 간의 간격 최소화 */
    cursor: pointer; /* 클릭 가능한 커서 유지 */
  }

  /* 로고 클릭 시 홈페이지로 이동 */
  .homepage-logo-link {
    text-decoration: none; /* 밑줄 제거 */
  }
  
  /* '로그인', '회원가입', '장바구니', '주문배송' 버튼 스타일 수정 */
  .header-right button {
    background: none; /* 배경색 제거 */
    border: none; /* 테두리 제거 */
    color: #434343; /* 텍스트 색상 검정으로 변경 */
    font-size: 16px; /* 폰트 크기 조정 */
    font-weight: normal; /* 얇은 폰트 설정 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    cursor: pointer; /* 클릭 가능한 커서 유지 */
    padding: 0; /* 기본 패딩 제거 */
    margin-left: 10px; /* 텍스트 간 간격 조정 */
  }
  
  /* '입점 신청' 버튼에 왼쪽 여백 추가 */
  .header-left button {
    margin-left: 0; /* 불필요한 여백 제거 */
  }
  
  /* '주문배송' 버튼에 오른쪽 여백 추가 */
  .header-right button:last-child {
    margin-right: 40px; /* 오른쪽 여백 추가 */
  }
  
  .logo-search {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 좌우로 요소를 분배 */
    padding: 15px;
  }
  
  .interest-store {
    display: flex;
    align-items: center;
    margin-right: 10px; /* 오른쪽 여백 60px */
    cursor: pointer;
  }
  
  /* 관심매장 소식 버튼 왼쪽 아이콘 스타일 */
  .interest-store .fa-star {
    font-size: 12px; /* 원하는 크기로 설정 */
    color: #434343; /* 아이콘 색상 */
    margin-right: 5px; /* 버튼과 아이콘 사이에 10px의 여백 추가 */
  }
  
  .favicon {
    width: 70px; /* Favicon 크기 조정 */
    height: 70px;
    margin-right: 10px; /* Favicon과 로고 사이의 간격 */
    margin-left: 20px; /* 왼쪽 간격 */
  }
  
  /* 로고 텍스트 스타일 */
  .logo {
    font-size: 32px; /* 로고 텍스트 크기 조정 */
    font-weight: bold;
    color: #2b914b; /* 로고 텍스트 색상 */
    margin: 0; /* 필요 시 여백 조정 */
  }
  
  /* 검색창과 버튼을 담고 있는 컨테이너 스타일 */
  .search-container {
    position: relative;
    width: 400px;
    margin: 0 auto; /* 가운데 정렬을 위해 auto 사용 */
  }

  .search-box {
    width: 100%;
    height: 35px;
    padding: 5px 0px 5px 25px; /* 오른쪽에 버튼 공간 추가 */
    border-radius: 25px;
    border: 2px solid #2b914b; /* 테두리 색상 */
    outline: none;
    font-size: 16px;
  }
  
  .search-container {
    position: relative;
    width: 450px;
    margin: 0 auto; /* 가운데 정렬을 위한 설정 */
  }

  
  /* 돋보기 버튼 스타일 */
  .search-button {
    position: absolute;
    right: 0px; /* 오른쪽 여백 5px */
    top: 50%;
    transform: translateY(-50%); /* 세로 가운데 정렬 */
    background: none;
    border: none;
    color: #434343;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* '입점 신청' 버튼 스타일 수정 */
  .logo-search button {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #434343; /* 텍스트 색상 변경 */
    font-size: 12px; /* 폰트 크기 조정 */
    font-weight: normal; /* 폰트 두께 얇게 설정 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    cursor: pointer; /* 클릭 가능한 커서 유지 */
    padding: 0; /* 기본 패딩 제거 */
    margin-left: 0; /* 텍스트 간 간격 최소화 */
  }
  
  /* '관심 매장 소식' 버튼 스타일 수정 */
  .header-left button {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #434343; /* 텍스트 색상 변경 */
    font-size: 12px; /* 폰트 크기 조정 */
    font-weight: normal; /* 폰트 두께 얇게 설정 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    cursor: pointer; /* 클릭 가능한 커서 유지 */
    padding: 0; /* 기본 패딩 제거 */
    margin-left: 0; /* 텍스트 간 간격 최소화 */
  }
  
  /* '관심 매장 소식' 버튼에 오른쪽 여백 추가 */
  .logo-search button {
    margin-right: 40px; /* 오른쪽 여백 추가 */
  }
  
  .thirdline {
    display: flex; /* 아이콘과 버튼을 한 줄에 정렬 */
    justify-content: start; /* 모든 항목을 왼쪽 정렬 */
    position: relative;
}
  
  .main-menu {
    position: relative;
  }
  
  /*  메뉴 아이콘 스타일 */
  .menu-icon {
    color: black; /* 아이콘 색상 설정 */
    font-size: 18px; /* 아이콘 크기 설정 */
    margin-left: 200px;
    margin-right: 10px; /* 아이콘과 버튼 간의 간격 최소화 */
    padding: 0; /* 패딩 제거 */
  }
  
  /* 카테고리 버튼 스타일 */
  .category-button {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: black; /* 텍스트 색상 검정으로 변경 */
    font-size: 18px; /* 폰트 크기 조정 */
    font-weight: bold; /* 텍스트를 더 두껍게 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    cursor: pointer; /* 클릭 가능한 커서 유지 */
    padding: 0; /* 기본 패딩 제거 */
  }
  
  /* 첫 번째 버튼(소개) 좌측 여백 추가 */
  .first-main-button {
    margin-left: 220px; /* '소개' 버튼에 70px 왼쪽 여백 추가 */
  }
  
  .main-button {
    justify-content: center;
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: black; /* 텍스트 색상 검정으로 변경 */
    font-size: 18px; /* 폰트 크기 조정 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    cursor: pointer; /* 클릭 가능한 커서 유지 */
    margin-right: 65px;
    padding: 0; /* 기본 패딩 제거 */
  }
  
  /* 가로줄 스타일 추가 */
  .category-divider1 {
    border: none; /* 기본 테두리 제거 */
    border-top: 1px solid #e0e0e0; /* 연한 그레이색 가로줄 추가 */
    margin: 10px 0; /* 위아래 여백 조정 */
    width: 100%; /* 페이지 전체에 걸쳐 가로줄 표시 */
  }
  .category-divider2 {
    position: relative; /* 부모 요소로 설정 */
    border: none; /* 기본 테두리 제거 */
    border-top: 1px solid #000000; /* 연한 그레이색 가로줄 추가 */
    margin: 10px 0 0 0; /* 위 여백 10px, 아래 여백 0px */
    width: 100%; /* 페이지 전체에 걸쳐 가로줄 표시 */
  }


/* 카테고리 메뉴 숨김 */
.category-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 200px; /* 원하는 위치로 조정, 예: 50px만큼 오른쪽으로 이동 */
    top: 100%; /* 버튼 바로 아래에 표시 */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 200px;
}

.category-menu li {
    padding: 10px;
}

.category-menu li a {
    text-decoration: none;
    color: black;
}

.category-menu li:hover {
    background-color: #f1f1f1;
}

/* 호버 시 카테고리 메뉴 표시 */
nav.main-menu:hover .category-menu {
    display: block;
}
/* =========================여기 까지가 header============================*/


/* 탭 메뉴 스타일 */
.tab-menu {
    position: relative;
    top: 0; /* category-divider2 바로 아래 위치 */
    left: 130px; /* 왼쪽 여백 추가 */
    z-index: 20; /* 롤링 배너 위에 표시되도록 설정 */
    background-color: rgba(0, 0, 0, 0.6); /* 투명도 80% 검정색 배경 */
    padding: 0; /* 내부 여백 제거 */
    width: 250px; /* 탭 메뉴의 폭 설정 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none; /* 테두리 제거 */
    transition: max-height 0.5s ease, opacity 0.5s ease; /* 애니메이션 추가 */
}

.tab-item {
    width: 100%; /* 전체 너비 사용 */
    padding: 15px 20px; /* 세로 길이 설정과 왼쪽 여백 */
    box-sizing: border-box; /* 패딩 포함하여 크기 계산 */
}

.tab-item a {
    text-decoration: none; /* 밑줄 제거 */
    color: white; /* 텍스트 색상 흰색으로 변경 */
    font-size: 18px; /* 폰트 크기 설정 */
    font-weight: bold; /* 텍스트 두껍게 설정 */
    display: block; /* 링크를 블록 요소로 설정하여 전체 폭 사용 */
    transition: background-color 0.3s; /* 색상 전환 애니메이션 */
}

/* 마우스를 올렸을 때 */
.tab-item:hover,
.tab-item a.active {
    background-color: rgba(26, 71, 42, 0.6); /* 진한 초록색, 투명도 80% */
    width: 100%; /* 탭 메뉴의 가로 길이만큼 적용 */
}

.category-divider2 {
    position: relative; /* 부모 요소로 설정 */
    border: none; /* 기본 테두리 제거 */
    border-top: 1px solid #000000; /* 연한 그레이색 가로줄 추가 */
    margin: 10px 0 0 0; /* 위 여백 10px, 아래 여백 0px */
    width: 100%; /* 페이지 전체에 걸쳐 가로줄 표시 */
}

/* 탭 메뉴 스타일 */
.tab-menu {
    position: relative;
    top: 0; /* category-divider2 바로 아래 위치 */
    left: 130px; /*왼쪽 여백 추가 */
    z-index: 20; /* 롤링 배너 위에 표시되도록 설정 */
    background-color: rgba(0, 0, 0, 0.6); /* 투명도 80% 검정색 배경 */
    padding: 0; /* 내부 여백 제거 */
    width: 250px; /* 탭 메뉴의 폭 설정 */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none; /* 테두리 제거 */
    transition: max-height 0.5s ease, opacity 0.5s ease; /* 애니메이션 추가 */
    margin-bottom: 100px; /* 탭 메뉴 아래 여백 100px 추가 */
}

/***** 롤링 배너 스타일 *****/
/* 롤링 배너 전체 스타일 */
.rolling-banner-container {
    position: absolute;
    top: 237.5px;
    left: 380px;
    height: 500px;
    width: calc(100% - 500px);
    z-index: 0;
    margin-bottom: 100px;
}

.rolling-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; /* 필요에 따라 높이 조정 */
}

.banner-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
}

.banner-slide.active {
    opacity: 1;
    z-index: 1;
}

/* Style for the see-more button */
.see-more-button {
    position: absolute;
    bottom: 100px;
    left: 52%;
    transform: translateX(-70%);
    width: 10%;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    line-height: 36px; /* Center text vertically */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 좌우 네비게이션 버튼 스타일 */
.navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.left-button,
.right-button {
    background: none;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ffffff;
    margin: 0 20px;
    z-index: 10;
}

.nav-arrow {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.page-indicator {
    color: #ffffffa0;
    font-weight: normal;
    margin: 0 20px;
}

/*** 가로줄3-1***/
.category-divider3-1 {
    border: none; /* 기본 테두리 제거 */
    width: auto; /* 자동으로 여백에 맞춰서 줄어듦 */
    border-top: 2px solid #0000003e; /* 연한 그레이색 가로줄 추가 */
    margin: 10px 600px 60px 600px; /* 위 아래 좌 우 여백 0px */

}
/***** 추천하는 신상 제품 *****/
.middle-text {
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
}
.new-product img {
    width: 500px; /* 이미지 가로 크기 */
    height: 250px; /* 이미지 세로 크기 */
    object-fit: cover; /* 이미지 비율 유지하며 크기 조정 */
    margin-bottom: 50px;
}

/* 중앙 정렬 및 여백 설정 */
.new-product-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    gap: 20px; /* 두 상품 사이의 여백 설정 */
}

.new-product {
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 세로로 정렬 */
    align-items: center;
    text-align: center;
    width: 600px; /* 각 상품의 너비 설정 */
}
/*
.product-name,
.product-price {
    margin-top: 20px;
}*/


/***** 요즘 주목 받는 제품 & 요즘 주목 받는 체험 *****/
.highlighted-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto; /* 가운데 정렬 */
}
.left-text {
    margin-left: 320px; /* 왼쪽 텍스트에 추가적인 여백 */
}

.right-text {
    margin-right: 310px; /* 오른쪽 텍스트에 추가적인 여백 */
}

/* =============================전체 슬라이더 컨테이너 */
.product-experience-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* 화면 전체 너비 */
    margin: 0 auto;
}

/* 추천 상품 슬라이더 */
.product-slider-container {
    display: flex;
    align-items: center;
    margin-left: 3%;
    width: 40%; /* 왼쪽 절반의 45% 너비 설정 */
    margin-right: 20px; /* 오른쪽 여백 30px */
}

.product-slider {
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    width: 100%;
}

.recommended-product-slider-list {
    display: flex;
    transition: left 0.5s ease-in-out;
    position: relative;
    left: 0; /* 초기 위치 */
    width: 100%; /* 슬라이드 너비 */
}

.slide {
    display: flex;
    justify-content: space-between;
    width: 100%; /* 한 번에 3개의 상품을 보여줌 */
}

.product {
    width: 50%; /* 상품 크기 조정 */
    text-align: center;
    padding: 10px;
}

.product img {
    width: 150px;
    height: 200;

}

.product-name {
    font-size: 14px; /* 글꼴 크기 */
    margin-top: 8px;
}

.product-price {
    font-size: 12px;
    color: #777;
}


/* 세로선 */
.vertical-line {
    width: 1px;              /* 선의 두께 */
    height: 220px;            /* 선의 길이 */
    background-color: rgba(0, 0, 0, 0.121); /* 선의 색상 */
    margin: 0 auto;          /* 중앙 정렬을 원할 경우 사용 */
}

/* 추천 체험 슬라이더 */
.experience-slider-container {
    display: flex;
    align-items: center;
    width: 40%; /* 오른쪽 절반의 45% 너비 설정 */
    margin-right: 5%; /* 오른쪽 여백 30px */
}

.recommended-experience-slider-list {
    display: flex;
    transition: left 0.5s ease-in-out;
    position: relative;
    left: 0; /* 초기 위치 */
    width: 100%; /* 슬라이드 너비 */
}

.slide {
    display: flex;
    justify-content: space-between;
    width: 100%; /* 한 번에 3개의 체험을 보여줌 */
}

.product {
    width: 30%; /* 체험 크기 조정 */
    text-align: center;
    padding: 10px;
    margin-right: 10px; /* 상품 사진 간 10px 여백 */
}

.product img {
    width: calc(100% + 10px); /* 기존 크기에서 가로 10px 추가 */
    height: auto;
    max-width: 160px; /* 최대 이미지 크기 제한, 가로 10px 추가 */
}

.product-name {
    font-size: 14px;
    margin-top: 8px;
}

.product-price {
    font-size: 12px;
    color: #777;
}

.see-more-left-right-text {
    justify-content: space-between;
}
.see-more-left-text {
    background-color: transparent;
    border: 1px solid white;
    color: #6c757d;
    font-size: 17px;
    margin-left: 6%;
    text-decoration: none;
}

.see-more-right-text {
    background-color: transparent;
    border: 1px solid white;
    color: #6c757d;
    font-size: 17px;
    margin-left: 78%;
    text-decoration: none;
}
/*** 추천하는 상품 링크 스타일 적용***/
.homepage-product-link {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 기본 텍스트 색상 */
}
.homepage-product-link .a:visited {
    color: black; /* 방문 후에도 기본 색상 유지 */
}

/*** 추천하는 체험 링크 스타일 적용***/
.homepage-experience-link {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 기본 텍스트 색상 */
}
.homepage-experience-link .a:visited {
    color: black; /* 방문 후에도 기본 색상 유지 */
}

/*** 가로줄3***/
.category-divider3, .category-divider4 {
    border: none; /* 기본 테두리 제거 */
    width: auto; /* 자동으로 여백에 맞춰서 줄어듦 */
    border-top: 2px solid #0000003e; /* 연한 그레이색 가로줄 추가 */
    margin: 60px 120px 60px 120px; /* 위 아래 좌 우 여백 0px */

}


/*** Footer ***/
.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 200px; /* 좌우 여백을 padding으로 설정 */
    /* margin-left, margin-right 제거 */
}

.footer .col-lg-3, .footer .col-md-6 {
    margin-bottom: 20px; /* 각 컬럼 간격 */
}

.footer .col-lg-3 h5, 
.footer .col-md-6 h5 {
    font-size: 25px; /* 원하는 크기로 설정 */
    font-weight: bold;
}

.footer {
    background-color: #EAEAEA; /* 배경 */
    color: #353535; /* 텍스트 */
    padding: 10px 0; /* 위아래 패딩 */
    width: 100%; /* 전체 너비 설정 */
}

.footer .container-fluid {
    padding: 0; /* 여백 제거 */
}

.footer .mb-2 {
    color : #353535; /* 원하는 색상으로 변경 */
}

.d-flex {
    display: flex; /* Flexbox 적용 */
    justify-content: start; /* 왼쪽 정렬 */
}

.footer .btn.btn-social {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(44, 44, 44, 0.256);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    color: #6c757d;  /* 회색 (#6c757d)으로 설정 */
    margin-bottom: 10px; /* 링크들 사이 간격을 늘리기 위한 여백 */
    text-decoration: none; /* 링크 밑줄 제거 */
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    color: #ffffff; /* 필요 시, hover 시 색상 변경 */
    box-shadow: none;
}

.newsletter-text {
    color: #6c757d; /* 회색 (#6c757d)로 폰트 색상 변경 */
}

.footer .form-control {
    background-color: transparent; /* 투명한 배경 */
    border: 1px solid rgba(0, 0, 0, 0.5); /* 테두리 */
    color: #ffffff; /* 텍스트 흰색 */
    padding: 10px;
}

.footer .btn-primary {
    background-color: #00B98E; /* 버튼 색상 */
    width: 40px;
    height: 30px;
    border: none;
    color: #ffffff; /* 버튼 텍스트 색상 */
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(30, 30, 30, 0.068); /* 상단 경계선 */
    text-align: center; /* 중앙 정렬 */
    padding-bottom: 10px; /* 기존 padding-bottom을 줄여서 공간을 줄임 */
    margin-bottom: 0; /* 필요 시 margin-bottom도 설정 */
}

.footer .copyright a {
    color: var(--light);
    color: #00B98E; /* 링크 강조색 */
}

